@tailwind base;
@tailwind components;
@tailwind utilities;

/* Keep basic body styles */
body {
  margin: 0;
  min-height: 100vh;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; /* Keep a default font */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Remove default Vite styles below this line */
